@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model DishViewModel
    
<form  id="@Model.Id" asp-action="AddToCart" asp-controller="Cart" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#cartdiv">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Name)
    @Html.HiddenFor(x => x.Price)
    @Html.HiddenFor(x => x.Category)
    <div class="dish-details">
        <div class="dish-number">
            <p>@Model.DishNumber.</p>
        </div>
        <div class="dish-name">
            <span>@Model.Name</span>
        </div>
        @if (Model.ShowAdminActions)
        {
            <div class="dish-manage">
                <a asp-controller="Dish" asp-action="Edit" asp-route-id="@Model.Id" class="text-warning">Edit</a>
                <span> | </span>
                <a asp-controller="Dish" asp-action="Delete" asp-route-id="@Model.Id" class="text-danger">Delete</a>
            </div>
        }
        <div class="dish-price">
            <button type="submit" class="btn btn-link">
                <span>@Math.Round(Model.Price,0):- <i class="text-success glyphicon glyphicon-shopping-cart"></i></span>
            </button>
        </div>
        @if (Model.Ingredients.Any(x => x.IsSelected))
        {
            <div class="dish-ingredients">
                <a class="accordion text-muted text-capitalize">
                    @string.Join(", ", Model.Ingredients.Where(i => i.IsSelected).Select(i => i.Name)) <i class="small-font glyphicon glyphicon-pencil"></i>
                </a>
                <div class="accordion-panel">
                    <div class="form-group">
                        <ul class="checkbox-grid">
                            @for (var i = 0; i < Model.Ingredients.Count; i++)
                            {
                                <li>
                                    <input asp-for="@Model.Ingredients[i].IsSelected" type="checkbox"/>
                                    <label asp-for="@Model.Ingredients[i].IsSelected">@Model.Ingredients[i].Name @Model.Ingredients[i].Price:-</label>
                                    @if (Model.ShowAdminActions)
                                    {
                                        <a asp-controller="Ingredient" asp-action="Delete" asp-route-id="@Model.Ingredients[i].Id" class="text-danger glyphicon glyphicon-remove"></a>
                                    }

                                    @Html.HiddenFor(x => Model.Ingredients[i].Id)
                                    @Html.HiddenFor(x => Model.Ingredients[i].Name)
                                    @Html.HiddenFor(x => Model.Ingredients[i].Price)
                                    @Html.HiddenFor(x => Model.Ingredients[i].IsSelected)
                                    @Html.HiddenFor(x => Model.Ingredients[i].IsDefault)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</form>