@using System.Linq
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Mvc.Rendering
@model CartIndexViewModel

@{
    ViewData["Title"] = "Index";
    var ingredients = Model.Cart.Lines.Select(l => l.Dish.Ingredients).SelectMany(i => i).ToList();
}

<h2>Din Kundvagn</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="text-center">Antal</th>
        <th>Maträtt</th>
        <th class="text-right">Pris</th>
        <th class="text-right">Totalt</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Cart.Lines)
    {
        <tr>
            <td class="text-center">        
                <a asp-action="AdjustQuantity" asp-route-lineId="@line.Id" asp-route-quantity="-1"><i class="quantity-button glyphicon glyphicon-minus"></i></a>
                <b> @line.Quantity </b>
                <a asp-action="AdjustQuantity" asp-route-lineId="@line.Id" asp-route-quantity="1"><i class="quantity-button glyphicon glyphicon-plus"></i></a>
            </td>
            <td class="text-left">
                <div class="dish-name">
                    <b>@line.Dish.Name </b><i class="small-font text-warning glyphicon glyphicon-pencil"></i>
                </div>
                <div>
                    <a class="accordion text-muted text-capitalize">
                        @string.Join(", ", line.Dish.Ingredients.Where(i => i.IsSelected).Select(i => i.Name))
                    </a>
                    <div class="accordion-panel">
                        <div class="form-group">
                            <ul class="checkbox-grid">                            
                                @for (var i = 0; i < ingredients.Count/2; i++)
                                {
                                    <li>
                                        <input asp-for="@ingredients[i].IsSelected" type="checkbox"/>
                                        <label asp-for="@ingredients[i].IsSelected">@ingredients[i].Name</label>

                                        @Html.HiddenFor(x => ingredients[i].Id)
                                        @Html.HiddenFor(x => ingredients[i].Name)
                                    </li>
                                }                                
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-right">@line.Dish.Price:-</td>
            <td class="text-right">@(line.Quantity * line.Dish.Price):-</td>
        </tr>
    }
    @for(var i = Model.Cart.Lines.Count(); i < 5; i++)
    {
        <tr>
            <td colspan="5" class="cart-empty-row">
                
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="1"><a class=" btn btn-primary" asp-action="Index" asp-controller="Home"><i class="glyphicon glyphicon-arrow-left"></i> Fortsätt att handla</a></td>
        <td colspan="3" class="text-right">@Model.Cart.ComputeTotalValue():-</td>
    </tr>
    </tfoot>
</table>
<div>
    @Html.Partial("Forms/CheckoutFormPartial", Model.CheckoutForm)
</div>

@section Scripts
{
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }

        $(function () {
            $('.js-toggle-empty-categories').change(function () {                
                $('#js-empty-categories').toggle(this.checked);
            }).change();
        });
    </script>
}
