@using System.Linq
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    var dishNumber = 1;
}

<div class="menu-container">
    <h1>Meny</h1>
    @if (Model.ShowAdminActions)
    {
        <div>
            <a class="text-primary" asp-area="" asp-controller="Dish" asp-action="Create"><i class="text-success glyphicon glyphicon-plus"></i> Lägg till Maträtt</a>
        </div>
    }
    @foreach (var category in Model.Menu.GroupBy(d => d.Category).ToList())
    {
        <h2 class="dish-category">@category.Key.Name</h2>
        <ul class="menu">
            @foreach (var dish in category)
            {
                <li>
                    <a class="js-add-to-cart text-capitalize text-primary">
                        <div class="dish-number">
                            <p>@dishNumber.</p>
                        </div>
                        <div class="dish-details">
                            <div class="dish-name">
                                <span>@dish.Name</span>
                            </div>
                        </div>
                        <div class="dish-price">
                            @dish.Price:- <i class="text-success glyphicon glyphicon-shopping-cart"></i>
                        </div>
                    </a>
                    @if (dish.Ingredients.Any())
                    {
                        <a class="accordion text-muted text-capitalize">
                            <div class="dish-ingredients">
                                @string.Join(", ", dish.Ingredients.Select(i => i.Name)) <i class="glyphicon glyphicon-edit"></i>
                            </div>
                        </a>
                    }
                    @if (Model.ShowAdminActions)
                    {
                        <div class="dish-manage">
                            <a class="text-warning" href="#">Edit</a>
                            <span> | </span>
                            <a class="text-danger" href="#">Delete</a>
                        </div>
                    }

                    @{
                        dishNumber++;
                    }
                    <div class="accordion-panel">
                        @foreach (var ingredient in Model.AllIngredients.OrderBy(x => x.Name))
                        {
                            var buttonType = dish.Ingredients.Any(i => i.Name == ingredient.Name) ? "btn-success" : "btn-default";
                            <button class="js-toggle-ingredient btn btn-sm @buttonType">@ingredient.Name</button>

                        }
                    </div>
                </li>
            }
        </ul>
    }
</div>


@section Scripts {
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $(".js-add-to-cart").click(function(e) {
                $.post("/cart/addtocart", { DishId: 2, Quantity: 1, SelectedIngredients: [2, 3] })
                    .done(function () {
                        //Update the view component here
                        location.reload();
                    })
                    .fail(function() {
                        alert("Failed");
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".js-toggle-ingredient").click(function(e) {
                var button = $(e.target);
                $.post("/cart/addtocart",
                        { DishId: button.attr('data-dish-id'), IngredientId: button.attr("data-ingredient-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-success");
                    })
                    .fail(function() {
                        button
                            .toggleClass("btn-default")
                            .toggleClass("btn-success");
                    });
            });
        });
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            }
        }
    </script>
}
