@model IEnumerable<PizzeriaButikenOnline.Entities.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
@foreach (var category in Model.GroupBy(x => x.Category))
{
    <thead>
        <tr>
            <th>@category.Key.Name</th>
        </tr>
    </thead>
    @foreach (var dish in category)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dish.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dish.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = dish.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = dish.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = dish.Id }) |
                </td>
            </tr>
        </tbody>
    }
}
</table>
