@using System.Linq
@model System.Collections.Generic.IEnumerable<Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var category in Model.GroupBy(x => x.Category))
{
    <div>
        <h2>@category.Key.Name</h2>

    </div>
    foreach (var dish in category)
    {
        <div>
            <h3><a asp-action="Details" asp-route-id="@dish.Id">@dish.Name   @dish.Price:-</a></h3>
            <p>@string.Join(", ", dish.Igredients.Select(i => i.Name))</p>
        </div>

    }
}
